/*------------------------------------------------------------------

Project:    Crumpet
Version:	1.0

###

Crumpet is a deliciously simple SASS/SCSS responsive framework that keeps 
your HTML clean & stays out of your way.

Any problems, ideas or questions post an issue, hit me up on twitter @AdamMarsdenUK 
or find some other fancy way to get in touch, it's the 21st century after all.

Built with flour & yeast by Adam Marsden - adam-marsden.co.uk

------------------------------------------------------------------*/
/* Width of containers */
/* Responsive Break Points */
/* Resets */
/* line 32, ../../bower_components/crumpet/css/scss/settings.scss */
* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Body */
/* line 43, ../../bower_components/crumpet/css/scss/settings.scss */
body {
  font: 1em/1.5em 'Source Sans Pro', sans-serif;
  color: #707070;
}

/*------------------------------------------------------------------

[Grid - Desktop]

To set the width of a column on desktops do this:

	@extend %grid-*a number*;

You make certain classes not display on desktop by adding:

	@extend %desktop_none;

------------------------------------------------------------------*/
/* line 63, ../../bower_components/crumpet/css/scss/settings.scss */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* line 68, ../../bower_components/crumpet/css/scss/settings.scss */
.row {
  padding: 10px 0;
  zoom: 1;
}
/* line 74, ../../bower_components/crumpet/css/scss/settings.scss */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 80, ../../bower_components/crumpet/css/scss/settings.scss */
.row:after {
  clear: both;
}

/* line 85, ../../bower_components/crumpet/css/scss/settings.scss */
.col {
  float: left;
}

/* Grid widths */
/* line 94, ../../bower_components/crumpet/css/scss/settings.scss */
.name {
  width: 16.66667%;
}

/* line 95, ../../bower_components/crumpet/css/scss/settings.scss */
.profile-pic {
  width: 25%;
}

/* line 96, ../../bower_components/crumpet/css/scss/settings.scss */
.symbol {
  width: 33%;
}

/* line 100, ../../bower_components/crumpet/css/scss/settings.scss */
.code .desc, .blog .desc, .beats .desc, .photos .desc {
  width: 66.66666%;
}

/* line 101, ../../bower_components/crumpet/css/scss/settings.scss */
.desc {
  width: 75%;
}

/* line 102, ../../bower_components/crumpet/css/scss/settings.scss */
.your {
  width: 83.33333%;
}

@media only screen and (min-width: 960px) {
  /* line 107, ../../bower_components/crumpet/css/scss/settings.scss */
  .classes, .whatever, .you, .like {
    display: none;
  }
}
/*------------------------------------------------------------------

[Grid - Tablet]

To set the width of a column on tablets do this:

	@extend %tablet_grid-*a number*;

You make certain classes not display on tablet by adding:

	@extend %tablet_none;

------------------------------------------------------------------*/
@media only screen and (min-width: 721px) and (max-width: 960px) {
  /* line 128, ../../bower_components/crumpet/css/scss/settings.scss */
  .container {
    max-width: 700px;
  }

  /* Column widths for tablet */
  /* line 136, ../../bower_components/crumpet/css/scss/settings.scss */
  .whatever {
    width: 25%;
  }

  /* line 142, ../../bower_components/crumpet/css/scss/settings.scss */
  .classes {
    width: 75%;
  }

  /* line 147, ../../bower_components/crumpet/css/scss/settings.scss */
  .name, .your, .you, .like {
    display: none;
  }
}
/*------------------------------------------------------------------

[Grid - Mobile]

To set the width of a column on mobiles do this:

	@extend %mobile_grid-*a number*;

or

	@extend %mobile_full;

for a full width column.


You make certain classes not display on mobile by adding:

	@extend %mobile_none;

------------------------------------------------------------------*/
@media only screen and (max-width: 720px) {
  /* line 176, ../../bower_components/crumpet/css/scss/settings.scss */
  .container {
    max-width: 95%;
  }

  /* Grid widths for mobile */
  /* line 182, ../../bower_components/crumpet/css/scss/settings.scss */
  .desc, .code .desc, .blog .desc, .beats .desc, .photos .desc {
    left: auto;
    clear: both;
    float: none;
    width: 100%;
    display: block;
  }

  /* line 190, ../../bower_components/crumpet/css/scss/settings.scss */
  .you, .like {
    width: 50%;
  }

  /* line 194, ../../bower_components/crumpet/css/scss/settings.scss */
  .name, .your, .classes, .whatever, .profile-pic, .symbol {
    display: none;
  }
}
/* Demo purposes */
/* line 5, ../../bower_components/crumpet/css/scss/main.scss */
.col {
  padding: 10px;
}

/* line 9, ../../bower_components/crumpet/css/scss/main.scss */
.preview {
  text-align: center;
}

/* line 13, ../../bower_components/crumpet/css/scss/main.scss */
.name, .classes, .you {
  background-color: #efefef;
}

/* line 17, ../../bower_components/crumpet/css/scss/main.scss */
.your, .whatever, .like {
  background-color: #D3D3D3;
}

/*------------------------------------------------------------------

This demo shows that you can hide any class at any time.

Normally you wouldn't want to do this. You can easily change the width
of a column by adding which size screen you would like it to break at 
and then set the column width.

	.name {
		@extend %grid-2;
		@extend %tablet_grid-5;
		@extend %mobile_1-2;
	}

This example would make the class be 2 columns wide on desktop,
5 columns wide on a tablet and half a column wide on mobile.

Easy as that :)

------------------------------------------------------------------*/
/* Desktop */
/* Tablet */
/* Mobile */
/*------------------------------------------------------------------

Project:    Crumpet
Version:	1.0

###

Crumpet is a deliciously simple SASS/SCSS responsive framework that keeps 
your HTML clean & stays out of your way.

Any problems, ideas or questions post an issue, hit me up on twitter @AdamMarsdenUK 
or find some other fancy way to get in touch, it's the 21st century after all.

Built with flour & yeast by Adam Marsden - adam-marsden.co.uk

------------------------------------------------------------------*/
/* Width of containers */
/* Responsive Break Points */
/* Resets */
/* line 32, ../../bower_components/crumpet/css/scss/settings.scss */
* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Body */
/* line 43, ../../bower_components/crumpet/css/scss/settings.scss */
body {
  font: 1em/1.5em 'Source Sans Pro', sans-serif;
  color: #707070;
}

/*------------------------------------------------------------------

[Grid - Desktop]

To set the width of a column on desktops do this:

	@extend %grid-*a number*;

You make certain classes not display on desktop by adding:

	@extend %desktop_none;

------------------------------------------------------------------*/
/* line 63, ../../bower_components/crumpet/css/scss/settings.scss */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* line 68, ../../bower_components/crumpet/css/scss/settings.scss */
.row {
  padding: 10px 0;
  zoom: 1;
}
/* line 74, ../../bower_components/crumpet/css/scss/settings.scss */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 80, ../../bower_components/crumpet/css/scss/settings.scss */
.row:after {
  clear: both;
}

/* line 85, ../../bower_components/crumpet/css/scss/settings.scss */
.col {
  float: left;
}

/* Grid widths */
/* line 94, ../../bower_components/crumpet/css/scss/settings.scss */
.name {
  width: 16.66667%;
}

/* line 95, ../../bower_components/crumpet/css/scss/settings.scss */
.profile-pic {
  width: 25%;
}

/* line 96, ../../bower_components/crumpet/css/scss/settings.scss */
.symbol {
  width: 33%;
}

/* line 100, ../../bower_components/crumpet/css/scss/settings.scss */
.code .desc, .blog .desc, .beats .desc, .photos .desc {
  width: 66.66666%;
}

/* line 101, ../../bower_components/crumpet/css/scss/settings.scss */
.desc {
  width: 75%;
}

/* line 102, ../../bower_components/crumpet/css/scss/settings.scss */
.your {
  width: 83.33333%;
}

@media only screen and (min-width: 960px) {
  /* line 107, ../../bower_components/crumpet/css/scss/settings.scss */
  .classes, .whatever, .you, .like {
    display: none;
  }
}
/*------------------------------------------------------------------

[Grid - Tablet]

To set the width of a column on tablets do this:

	@extend %tablet_grid-*a number*;

You make certain classes not display on tablet by adding:

	@extend %tablet_none;

------------------------------------------------------------------*/
@media only screen and (min-width: 721px) and (max-width: 960px) {
  /* line 128, ../../bower_components/crumpet/css/scss/settings.scss */
  .container {
    max-width: 700px;
  }

  /* Column widths for tablet */
  /* line 136, ../../bower_components/crumpet/css/scss/settings.scss */
  .whatever {
    width: 25%;
  }

  /* line 142, ../../bower_components/crumpet/css/scss/settings.scss */
  .classes {
    width: 75%;
  }

  /* line 147, ../../bower_components/crumpet/css/scss/settings.scss */
  .name, .your, .you, .like {
    display: none;
  }
}
/*------------------------------------------------------------------

[Grid - Mobile]

To set the width of a column on mobiles do this:

	@extend %mobile_grid-*a number*;

or

	@extend %mobile_full;

for a full width column.


You make certain classes not display on mobile by adding:

	@extend %mobile_none;

------------------------------------------------------------------*/
@media only screen and (max-width: 720px) {
  /* line 176, ../../bower_components/crumpet/css/scss/settings.scss */
  .container {
    max-width: 95%;
  }

  /* Grid widths for mobile */
  /* line 182, ../../bower_components/crumpet/css/scss/settings.scss */
  .desc, .code .desc, .blog .desc, .beats .desc, .photos .desc {
    left: auto;
    clear: both;
    float: none;
    width: 100%;
    display: block;
  }

  /* line 190, ../../bower_components/crumpet/css/scss/settings.scss */
  .you, .like {
    width: 50%;
  }

  /* line 194, ../../bower_components/crumpet/css/scss/settings.scss */
  .name, .your, .classes, .whatever, .profile-pic, .symbol {
    display: none;
  }
}
/* line 18, ../../app/styles/main.scss */
* {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #292f33;
}

/* line 23, ../../app/styles/main.scss */
html, body {
  margin: 0;
  height: 100%;
}

/* line 27, ../../app/styles/main.scss */
html {
  font-size: 16px;
}

/* line 30, ../../app/styles/main.scss */
body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: ghostwhite;
}

/* line 35, ../../app/styles/main.scss */
.app-container {
  height: 100%;
}
/* line 37, ../../app/styles/main.scss */
.app-container > div {
  height: 100%;
}

/* line 42, ../../app/styles/main.scss */
.hi {
  font-size: 9rem;
  color: ghostwhite;
  opacity: 0.9;
  text-align: center;
  font-weight: 500;
  line-height: 100%;
}
/* line 49, ../../app/styles/main.scss */
.hi.type {
  text-align: left;
  margin: 0 5% 0 5%;
}

/* line 54, ../../app/styles/main.scss */
.blink {
  color: ghostwhite;
}

/* line 57, ../../app/styles/main.scss */
.who-am-i {
  background: rgba(255, 255, 255, 0.4);
  text-align: left;
  color: #3f3f3f;
  padding: 0 5%;
}

/* line 63, ../../app/styles/main.scss */
.title {
  font-size: 4rem;
  margin: 2% 0;
  line-height: 100%;
  color: #3F515F;
}

/* line 69, ../../app/styles/main.scss */
.subtitle {
  padding: 1rem 2rem;
  font-size: 3rem;
  line-height: 100%;
  margin-top: 2rem;
}

/* line 76, ../../app/styles/main.scss */
p {
  font-size: 1.1rem;
}

/* line 79, ../../app/styles/main.scss */
.be-patient {
  color: white;
  opacity: 0.8;
  text-align: center;
  font-size: 2rem;
}

/* line 85, ../../app/styles/main.scss */
.icon-set {
  padding-left: 0;
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 0;
}

/* line 91, ../../app/styles/main.scss */
.icon-element {
  display: inline-block;
  margin: 10px 3rem;
}
/* line 94, ../../app/styles/main.scss */
.icon-element i {
  color: ghostwhite;
}

/* line 98, ../../app/styles/main.scss */
.icon {
  display: block;
  font-size: 4.5rem;
  padding: 15px 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.25s ease-in;
          transition: all 0.25s ease-in;
}
/* line 104, ../../app/styles/main.scss */
.icon .hover-circle {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.25s ease-in;
          transition: all 0.25s ease-in;
}
/* line 116, ../../app/styles/main.scss */
.icon:hover .fa, .icon:active .fa, .icon:focus .fa {
  -webkit-transition: color 0.25s ease-in;
          transition: color 0.25s ease-in;
  color: #292F33;
}
/* line 120, ../../app/styles/main.scss */
.icon:hover .hover-circle, .icon:active .hover-circle, .icon:focus .hover-circle {
  width: 6rem;
  height: 6rem;
  background: white;
}
/* line 126, ../../app/styles/main.scss */
.icon.twitter {
  font-size: 5rem;
}

/* line 131, ../../app/styles/main.scss */
.part {
  margin: 20px auto;
  max-width: 960px;
  overflow: hidden;
}

/* line 137, ../../app/styles/main.scss */
.part .divider {
  height: 1px;
  width: 0%;
  border-bottom: 1px solid #647167;
  margin: 0 auto;
  display: block;
  clear: both;
  -webkit-transition: width 0.65s ease-in;
          transition: width 0.65s ease-in;
}

/* line 146, ../../app/styles/main.scss */
.part.active .divider {
  width: 80%;
}

/* line 149, ../../app/styles/main.scss */
.nav {
  padding: 0 0.2rem;
  color: #3F515F;
  font-weight: bold;
  -webkit-transition: all 0.25s ease-in;
          transition: all 0.25s ease-in;
}

/* line 156, ../../app/styles/main.scss */
.nav:hover {
  background: #647167;
  color: ghostwhite;
}

/* line 160, ../../app/styles/main.scss */
.footer {
  background: #292f33;
  -webkit-transition: all 0.25s ease-in;
          transition: all 0.25s ease-in;
  opacity: 1.0;
  float: left;
  clear: both;
  width: 100%;
  line-height: 100%;
}

/* line 169, ../../app/styles/main.scss */
.faded {
  opacity: 0;
}

/* line 172, ../../app/styles/main.scss */
.footer p {
  text-align: center;
  color: ghostwhite;
  margin: 1rem 0.5rem;
  font-size: 1.5rem;
}

/* line 178, ../../app/styles/main.scss */
.footer a {
  color: ghostwhite;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in;
          transition: all 0.25s ease-in;
}

/* line 183, ../../app/styles/main.scss */
.footer a:hover {
  background: ghostwhite;
  color: #292f33;
  text-decoration: underline;
}

/****************************** Responsive Stuf **********************************/
@media only screen and (max-device-width: 480px) {
  /* line 193, ../../app/styles/main.scss */
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 320px) and (max-width: 720px) {
  /* line 202, ../../app/styles/main.scss */
  .hide-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  /* line 208, ../../app/styles/main.scss */
  .hi {
    font-size: 8rem;
  }

  /* line 211, ../../app/styles/main.scss */
  .icon-element {
    float: left;
    width: 25%;
    margin: 0;
  }

  /* line 216, ../../app/styles/main.scss */
  .desc {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* line 220, ../../app/styles/main.scss */
  .title {
    font-size: 3rem;
    margin-left: 2%;
    margin-top: 0;
  }

  /* line 225, ../../app/styles/main.scss */
  .subtitle {
    font-size: 2rem;
  }

  /* line 228, ../../app/styles/main.scss */
  i.fa {
    font-size: 4.5rem;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
  /* line 234, ../../app/styles/main.scss */
  .hi {
    font-size: 4rem;
  }

  /* line 237, ../../app/styles/main.scss */
  .title {
    font-size: 2.3rem;
    margin-left: 2%;
    margin-top: 0;
  }

  /* line 242, ../../app/styles/main.scss */
  .subtitle {
    font-size: 1.28rem;
    line-height: 110%;
  }

  /* line 246, ../../app/styles/main.scss */
  p {
    font-size: 1.1rem;
  }

  /* line 249, ../../app/styles/main.scss */
  .icon {
    padding: 3px 10px;
  }

  /* line 252, ../../app/styles/main.scss */
  .icon-element {
    margin: 0.3rem 0.6rem;
  }

  /* line 255, ../../app/styles/main.scss */
  i.fa {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 720px) {
  /* line 260, ../../app/styles/main.scss */
  .title {
    font-size: 2.3rem;
    margin-left: 2%;
    margin-top: 0;
  }

  /* line 265, ../../app/styles/main.scss */
  p {
    font-size: 1.1rem;
  }
}
/** --------------------------------------------------------------------- 

  Index Page

--------------------------------------------------------------------- **/
/* line 276, ../../app/styles/main.scss */
#cover {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  overflow: hidden;
  display: table;
  height: 100%;
  width: 100%;
}

/* line 285, ../../app/styles/main.scss */
.cover-content {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

/* line 292, ../../app/styles/main.scss */
.filter {
  position: relative;
  overflow: hidden;
  display: table;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.25s ease-in;
          transition: all 0.25s ease-in;
}

/* line 300, ../../app/styles/main.scss */
.filter {
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 303, ../../app/styles/main.scss */
.filter.dark {
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 307, ../../app/styles/main.scss */
.arrow {
  width: 20px;
  height: 20px;
  border: 5px solid #FFF;
  border-right: none;
  border-top: none;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  bottom: 20px;
  right: 50%;
}
/* line 318, ../../app/styles/main.scss */
.arrow.active {
  -webkit-animation: appearArrow 2.5s;
          animation: appearArrow 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
/* line 322, ../../app/styles/main.scss */
.arrow:nth-child(2) {
  bottom: 40px;
}

@-webkit-keyframes appearArrow {
  0% {
    -webkit-transform: translateY(-100px) rotate(-45deg);
            transform: translateY(-100px) rotate(-45deg);
    opacity: 0.0;
  }
  50% {
    -webkit-transform: translateY(-100px) rotate(-45deg);
            transform: translateY(-100px) rotate(-45deg);
    opacity: 0.0;
  }
  100% {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg);
    opacity: 1.0;
  }
}

@keyframes appearArrow {
  0% {
    -webkit-transform: translateY(-100px) rotate(-45deg);
            transform: translateY(-100px) rotate(-45deg);
    opacity: 0.0;
  }
  50% {
    -webkit-transform: translateY(-100px) rotate(-45deg);
            transform: translateY(-100px) rotate(-45deg);
    opacity: 0.0;
  }
  100% {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg);
    opacity: 1.0;
  }
}
/* Centered texts in each section
* --------------------------------------- */
/* line 347, ../../app/styles/main.scss */
.section {
  text-align: center;
  position: relative;
}

/* line 351, ../../app/styles/main.scss */
.profile-pic {
  max-width: 500px;
  float: left;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #292F33;
  margin-bottom: 20px;
}

/* line 360, ../../app/styles/main.scss */
.desc {
  float: left;
  padding: 1rem;
  line-height: 200%;
}

/* line 368, ../../app/styles/main.scss */
.main-content {
  width: 100%;
  float: left;
}

/* line 373, ../../app/styles/main.scss */
.about p {
  float: left;
  margin-top: 0;
}

/* line 379, ../../app/styles/main.scss */
.code p, .beats p, .photos p {
  float: left;
  margin-top: 0;
  font-weight: normal;
}

/* line 385, ../../app/styles/main.scss */
.symbol {
  text-align: center;
  min-height: 230px;
  padding-bottom: 20px;
}

/* line 392, ../../app/styles/main.scss */
.code .symbol {
  float: right;
}

/* line 399, ../../app/styles/main.scss */
.blog .symbol {
  float: left;
}

/* line 402, ../../app/styles/main.scss */
.blog .desc {
  float: right;
}

/* line 407, ../../app/styles/main.scss */
.beats .symbol {
  float: right;
  min-height: 0px;
}

/* line 411, ../../app/styles/main.scss */
.beats .desc {
  float: left;
}

/* line 416, ../../app/styles/main.scss */
.photos .symbol {
  float: left;
}

/* line 419, ../../app/styles/main.scss */
.photos .desc {
  float: right;
}

/** CODE **/
/* line 433, ../../app/styles/main.scss */
.monitor-container {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  width: 95%;
  height: 180px;
}
/* line 439, ../../app/styles/main.scss */
.monitor-container .base {
  width: 75px;
  height: 40px;
  background: #292F33;
  position: absolute;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
/* line 448, ../../app/styles/main.scss */
.monitor-container .monitor {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}
/* line 453, ../../app/styles/main.scss */
.monitor-container .monitor .screen {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 20px solid #292F33;
  -webkit-border-radius: 7%;
          border-radius: 7%;
  display: table;
  overflow: hidden;
  position: relative;
}
/* line 463, ../../app/styles/main.scss */
.monitor-container .monitor .text-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  position: relative;
}
/* line 470, ../../app/styles/main.scss */
.monitor-container .monitor .text-container .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 476, ../../app/styles/main.scss */
.monitor-container .monitor .text-container .left, .monitor-container .monitor .text-container .right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 1s ease-in;
          transition: all 1s ease-in;
}
/* line 482, ../../app/styles/main.scss */
.monitor-container .monitor .text-container .left {
  font-size: 5rem;
  left: -28%;
}
/* line 486, ../../app/styles/main.scss */
.monitor-container .monitor .text-container .right {
  font-size: 5rem;
  right: -28%;
}

/* line 494, ../../app/styles/main.scss */
.code.active .text-container .left {
  left: 23%;
}
/* line 497, ../../app/styles/main.scss */
.code.active .text-container .right {
  right: 23%;
}

/** MUSIC **/
/* line 512, ../../app/styles/main.scss */
.mpc {
  display: inline-block;
  background: #292F33;
  width: 220px;
  height: 190px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  position: relative;
  margin-bottom: 5%;
}

/* line 521, ../../app/styles/main.scss */
.lcd {
  background: white;
  width: 30%;
  height: 10%;
  position: absolute;
  top: 10%;
  left: 7%;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

/* line 530, ../../app/styles/main.scss */
.pads {
  position: absolute;
  width: 50%;
  height: 50%;
  right: 7%;
  bottom: 7%;
}

/* line 537, ../../app/styles/main.scss */
.pad-row {
  height: 25%;
  width: 100%;
}

/* line 541, ../../app/styles/main.scss */
.pad {
  height: 100%;
  width: 25%;
  background: white;
  float: left;
  border: 1px solid #292F33;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 550, ../../app/styles/main.scss */
.beats.active .turntable {
  -webkit-transform: rotate(720deg);
      -ms-transform: rotate(720deg);
          transform: rotate(720deg);
}

/* line 554, ../../app/styles/main.scss */
.turntable {
  position: relative;
  display: block;
  margin-top: 0 auto;
  width: 190px;
  height: 190px;
  background: #292F33;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: -webkit-transform 8000ms linear;
          transition: transform 8000ms linear;
}
/* line 563, ../../app/styles/main.scss */
.turntable .line {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px grey;
  border-style: none solid none solid;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
/* line 572, ../../app/styles/main.scss */
.turntable .line1 {
  width: 100%;
  height: 100%;
}
/* line 576, ../../app/styles/main.scss */
.turntable .line3 {
  width: 85%;
  height: 85%;
}
/* line 580, ../../app/styles/main.scss */
.turntable .line2 {
  width: 95%;
  height: 95%;
}
/* line 584, ../../app/styles/main.scss */
.turntable .line4 {
  width: 75%;
  height: 75%;
}
/* line 588, ../../app/styles/main.scss */
.turntable .line5 {
  width: 65%;
  height: 65%;
}
/* line 592, ../../app/styles/main.scss */
.turntable .line6 {
  width: 55%;
  height: 55%;
}
/* line 596, ../../app/styles/main.scss */
.turntable .line7 {
  width: 45%;
  height: 45%;
}
/* line 600, ../../app/styles/main.scss */
.turntable .line8 {
  border-style: solid;
  background: grey;
  border-width: 2px;
  width: 1%;
  height: 1%;
}

/* line 608, ../../app/styles/main.scss */
.music-symbol-container {
  text-align: center;
  overflow: hidden;
  min-width: 400px;
  display: inline-block;
}

/** Photos **/
/* line 616, ../../app/styles/main.scss */
.camera {
  margin-top: 20px;
  display: inline-block;
  width: 95%;
  max-width: 300px;
  height: 150px;
  background: #292F33;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  position: relative;
  border: 1px solid #292F33;
}

/* line 627, ../../app/styles/main.scss */
.camera .button {
  width: 20px;
  height: 20px;
  background: white;
  position: absolute;
  left: 10px;
  top: -14px;
  border: 3px solid #292F33;
  z-index: -1;
  -webkit-transition: all 0.5 linear 0.5s;
          transition: all 0.5 linear 0.5s;
}

/* line 638, ../../app/styles/main.scss */
.photos.active .button {
  -webkit-transform: translateY(35%);
      -ms-transform: translateY(35%);
          transform: translateY(35%);
}

/* line 641, ../../app/styles/main.scss */
.camera .lens {
  width: 100px;
  height: 100px;
  background: white;
  position: absolute;
  right: 30px;
  bottom: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 5px solid #1d1f20;
}

/* line 651, ../../app/styles/main.scss */
.camera .lens .eye {
  width: 35px;
  height: 35px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 4px solid #1d1f20;
  -webkit-transition: all 0.5s linear 0.5s;
          transition: all 0.5s linear 0.5s;
}

/* line 663, ../../app/styles/main.scss */
.photos.active .eye {
  width: 2px;
  height: 2px;
  background: #292F33;
  border: 8px solid #1d1f20;
}

/* line 669, ../../app/styles/main.scss */
.camera .top {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 50px;
  background: white;
  position: absolute;
  left: 0;
  top: 2px;
  background: white;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}

/* line 682, ../../app/styles/main.scss */
.camera .top .finder {
  width: 27px;
  height: 22px;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 2px solid #292F33;
}

/* line 691, ../../app/styles/main.scss */
.camera .top .logo {
  width: 20px;
  height: 19px;
  position: absolute;
  top: 10px;
  left: 50%;
  background: red;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

/** BLOG **/
/* line 707, ../../app/styles/main.scss */
.pencil {
  display: block;
  width: 30px;
  background: #292F33;
  height: 170px;
  position: relative;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform-style: preserve-3D;
          transform-style: preserve-3D;
}

/* line 716, ../../app/styles/main.scss */
.pencil-container {
  position: relative;
  margin-left: 10px;
}
/* line 719, ../../app/styles/main.scss */
.pencil-container .line {
  position: absolute;
  left: 15px;
  bottom: -33px;
  width: 0;
  height: 3px;
  background: #292F33;
}
/* line 727, ../../app/styles/main.scss */
.pencil-container .point {
  position: absolute;
  bottom: -30px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid #292F33;
}

/* line 738, ../../app/styles/main.scss */
.blog.active .pencil {
  -webkit-animation: pencil-move 1s;
          animation: pencil-move 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
/* line 742, ../../app/styles/main.scss */
.blog.active .line {
  -webkit-animation: draw 1s;
          animation: draw 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes pencil-move {
  0% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: translate(185px, 0) rotate(10deg);
            transform: translate(185px, 0) rotate(10deg);
  }
}

@keyframes pencil-move {
  0% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: translate(185px, 0) rotate(10deg);
            transform: translate(185px, 0) rotate(10deg);
  }
}
@-webkit-keyframes draw {
  32% {
    width: 0px;
  }
  100% {
    width: 180px;
  }
}
@keyframes draw {
  32% {
    width: 0px;
  }
  100% {
    width: 180px;
  }
}
/** ---------------------------------------------------------------------
--------------------------------------------------------------------- **/
/* line 771, ../../app/styles/main.scss */
.notice {
  font-weight: bold;
}

/* line 774, ../../app/styles/main.scss */
.underline {
  text-decoration: underline;
}

/* line 778, ../../app/styles/main.scss */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 781, ../../app/styles/main.scss */
.pure-u-0 {
  width: 0%;
}

/** ---------------------------------------------------------------------
--------------------------------------------------------------------- **/
/* AngularJS 'Typewrite' Directive - Styles*/
/* Keyframes 'vendor prefix' versions: */
@-webkit-keyframes blink-it {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-it {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Blinking class */
/* line 806, ../../app/styles/main.scss */
.blink {
  -webkit-animation: blink-it steps(1) 1s infinite;
          animation: blink-it steps(1) 1s infinite;
}
