head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1, minimal-ui')

  title= appName+' - '+title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="node.js, express, antonio capelo, mongodb, angularjs")
  meta(name="description", content="antoniocapelo.com for some days - temporary site for antoniocapelo.com")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')

  meta(property='fb:app_id', content='APP_ID')
  meta(property='og:title', content='#{appName} - #{title}')
  meta(property='og:description', content='antoniocapelo.com, surprisingly, is the personal site of António Capelo')
  meta(property='og:type', content='website')
  meta(property='og:url', content='APP_URL')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='antoniocapelo.com')
  meta(property='fb:admins', content='APP_ADMIN')

  //- Styles
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='/styles/lib/pure-min.css')
  link(rel='stylesheet', href='/styles/lib/grids-responsive-min.css')
  link(rel='stylesheet', href='/styles/app.css')


  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
