/** Main styles go here **/
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'sass-bootstrap/lib/bootstrap';
@import 'macros';

$hi-font-size-desktop: 15em;
$hi-font-size-mobile: 7em;

$sutbtitle-font-desktop: 4em;
$sutbtitle-font-mobile: 2.2em;

@font-face {
	font-family: Equal;
	src: url("fonts/Equal-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'viroregular';
    src: url('fonts/viro-webfont.eot');
    src: url('fonts/viro-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/viro-webfont.woff') format('woff'),
         url('fonts/viro-webfont.ttf') format('truetype'),
         url('fonts/viro-webfont.svg#viroregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	font-family: 'viroregular' ,"Helvetica Neue", Helvetica, Arial, sans-serif;
}


html {
	// position: absolute;
	// z-index: 1;
	// width: 100%;

	// &:before{
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	right: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	z-index: -1;
	// 	// background: #fff url('https://farm9.staticflickr.com/8532/8457310414_279c372072_h.jpg') center center fixed no-repeat;
	// 	background: #fff url('../images/bg.jpg') center center fixed no-repeat;
		
	// 	background-size: cover;
	// 	-webkit-filter: blur(2px);
	// 	filter: blur(2px);
	// 	// this does the trick
	// 	@include scale(1.1);
	// }

}

html {
	background: url('../images/bg.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	overflow: hidden;
}
body
{
	height:100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	background: transparent;
}

.container {
	// @include transparent(255,255,255,0.5);
	margin-top: 5%;
}


.hi {
	font-size: $hi-font-size-desktop;
	font-family: 'viroregular';
	color: white;
	opacity: 0.8;
	text-align: center;
	font-weight: 500;
}

.who-am-i {	
	background: rgba(255,255,255,0.4);
	text-align: center;
	color: rgb(63, 63, 63);
	padding: 0 10px;
}

.subtitle {
	font-size: $sutbtitle-font-desktop;
}

.be-patient {
	color: white;
	opacity: 0.8;
	text-align: center;
	font-size: 2em;
}

.icon-set {
	padding-left: 0;
	margin-top: 40px;
	text-align: center;
	margin-bottom: 40px;
}

.icon-element {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 20px 20px 0 20px;	
}

.icon {
	width: 80px;
	height: 80px;
	display: block;
	@include transition(all, 0.25s, ease-in);
	&:hover {
		@include translateY(-10px);
	}
}

.twitter {
	background: url("/../images/icons/twitter.png");
}

.instagram {
	background: url("/../images/icons/Instagram.png");
}

.linkedin {
	background: url("/../images/icons/linkedin.png");
}

.github {
	background: url("/../images/icons/Github.png");
}


// Disable iOS/WinMobile font size changes
@media sceen and (max-device-width: 480px) {
	html {
		-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.hi {
		font-size: $hi-font-size-mobile;
	}
	.subtitle {
		font-size: $sutbtitle-font-mobile;
	}

}

// Resets
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}