<section class="cv-container">
	<section class="row">
		<div class="cv-cover">
			<div class="cv-profile-pic-container">
				<img src="/images/cv_pic_medium.png" class="cv-profile-pic">			
			</div>
			<div class="cv-title">
				<h1 class="cv-title-main">António Capelo</h1>
				<h2 class="cv-title-secundary">Frontend Developer</h2>
			</div>
		</div>
		<div class="cv-header-info">
			<ul class="header-info-list">
                <li class="header-info-icon">
                    <a href="https://twitter.com/antoniocapelo" target="_blank" class="icon twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="header-info-icon">
                    <a href="http://www.instagram.com/acapelo" target="_blank" class="icon instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li class="header-info-icon">
                    <a href="https://www.linkedin.com/in/antoniocapelo" target="_blank" class="icon linkedin">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                </li>
                <li class="header-info-icon">
                    <a href="https://github.com/antoniocapelo" target="_blank" class="icon github">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
        	<ul class="header-contact-list">
        		<li>Email: antonioccapelo@gmail.com</li>
        		<li>Phone: +351 916 321 950</li>
        		<li>Web: www.antoniocapelo.com</li>
        	</ul>
		</div>
	</section>
	<!-- COVER END -->	
	<section class="row cv-section profile"><!-- BEGIN PROFILE -->	
		<div class="cv-desc">
			<h1>{{data.profile_description.title}}</h1>
		</div>
		<div class="cv-section-content">
			<span ng-bind-html="data.profile_description.text"></span>
		</div>
	</section><!-- END PROFILE -->	
	<section class="row cv-section experience"><!-- BEGIN EXPERIENCE -->	
		<div class="cv-desc">
			<h1>Experience</h1>
		</div>
		<div class="cv-section-content">
			<div ng-repeat="item in data.experience" class="experience-item">
				<h2 class="experience-item-title">{{item.title}}</h2>
				<a class="experience-item-where" ng-href="item.where_url">{{item.where}}</a> <p ng-if="item.from && item.to" class="experience-from-to">
					{{item.from}} - {{item.to}}
				</p>
				<span ng-if="item.text" ng-bind-html="item.text" class="experience-item-text"></span>
			</div>
		</div>
	</section><!-- END EXPERIENCE -->	
		<section class="row cv-section experience"><!-- BEGIN SKILLS -->	
		<div class="cv-desc">
			<h1>Skills</h1>
		</div>
		<div class="cv-section-content">
			<div ng-repeat="item in data.skills" class="skill-item">
				<h2 class="skill-item-title">{{item.title}}</h2>
				<meter class="skill-meter" max="100" value="{{item.level}}" ></meter>
			</div>
		</div>
	</section><!-- END SKILLS -->	
</section>