<section id="cover">
    <div data-awty="dark" data-awty-remove="true" data-awty-toggle="true" data-awty-space="0.8" class="filter awty">
        <div class="cover-content">
            <div class="hi type" typewrite text="Hi there!" initial-delay="0s" type-delay="150" blink-delay="500"></div>
            <p class="who-am-i subtitle">I'm <b>António Capelo</b>, a Front-End Engineer from Portugal</p>
            <ul class="icon-set">
                <li class="icon-element">
                    <a href="https://twitter.com/antoniocapelo" target="_blank" class="icon twitter">
                        <span class="hover-circle"></span><i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="icon-element">
                    <a href="http://www.instagram.com/acapelo" target="_blank" class="icon instagram">
                        <span class="hover-circle"></span><i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li class="icon-element">
                    <a href="https://www.linkedin.com/in/antoniocapelo" target="_blank" class="icon linkedin">
                        <span class="hover-circle"></span><i class="fa fa-linkedin-square"></i>
                    </a>
                </li>
                <li class="icon-element">
                    <a href="https://github.com/antoniocapelo" target="_blank" class="icon github">
                        <span class="hover-circle"></span><i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="arrow active"></div>
        <div class="arrow active"></div>
        <!-- <div class="info">scroll down</div> -->
    </div>    
</section>
<section class="main-content">
    <div class="part about awty" data-awty="active">
        <h2 class="title">#whoami</h2>
        <img src="/images/profile_pic.jpg" class="profile-pic hide-mobile">
        <div class="desc">
            <p>Former Civil Engineer, now Software Engineer, and an all-around good guy.</p>
            <p>I do most of my work on the 'frontend' side, exploring the Javascript Lands and doin' it for the client :)</p>
            <p>
                <span style="font-style:italic">Coffee / beatmaking / bicycles / web lover.</span>
            </p>
            <p>Feel free to contact me for a co-op, leave some feedback or even ask for a print of a photograph.</p>
        </div>
      <div class="divider"></div> 
    </div>
    <div class="part code awty" data-awty="active">
        <h2 class="title">#code</h2>
        <div class="hide-mobile symbol">
            <div class="monitor-container">
                <div class="monitor">
                    <div class="screen">
                        <div class="text-container">
                            <div class="left">&lt;</div>
                            <div class="text center">/</div>
                            <div class="right">&gt;</div>
                        </div>
                    </div>
                </div>
                <div class="base"></div>
            </div>
        </div>
        <div class="desc">
            <p>I really love what I do, and I feel lucky to do it for a living.</p>
            <p>I'm a
                <span class="notice">passionate developer</span>focused on browser
                <span class="underline">performance</span>,
                <span class="underline">clean solutions</span>and
                <span class="underline">quality code</span>.</p>
            <p>Besides that, I also have a taste for
                <span class="underline">UX/UI</span> and try to deliver the best experience for the users.</p>
        </div>
        <div class="divider"></div>         
    </div>
    <div class="part blog awty" data-awty="active">
        <h2 class="title">#blog</h2>
        <div class="hide-mobile symbol">
            <div class="pencil-container">
                <div class="pencil">
                    <div class="point"></div>
                </div>
                <div class="line"></div>
            </div>
        </div>
        <div class="desc">
            <p>I write <span class="notice">blog posts</span> at <a target="_blank" class="nav" href="http://blog.antoniocapelo.com/">blog.antoniocapelo.com</a></p>
            <p>Most of the texts are about coding / photography / music / nice-things-in-life.</p>
            <p>If you don't care about the first three, stay for the last one.</p>
        </div>
        <div class="divider"></div> 
    </div>

    <div class="part beats awty" data-awty="active">
        <h2 class="title">#music</h2>
        <div class="hide-mobile symbol">
            <div class="music-symbol-container">
                <!-- <div class="mpc">
                    <div class="lcd"></div>
                    <div class="pads">
                        <div class="pad-row row-1">
                            <div class="pad"></div>
                            <div class="pad"></div>
                            <div class="pad"></div>
                            <div class="pad"></div>
                        </div>
                        <div class="pad-row row-2">
                            <div class="pad"></div>
                            <div class="pad"></div>
                            <div class="pad"></div>
                            <div class="pad"></div>
                        </div>
                        <div class="pad-row row-3">
                            <div class="pad"></div>
                            <div class="pad"></div>
                            <div class="pad"></div>
                            <div class="pad"></div>
                        </div>
                        <div class="pad-row row-4">
                            <div class="pad"></div>
                            <div class="pad"></div>
                            <div class="pad"></div>
                            <div class="pad"></div>
                        </div>
                    </div>
                </div>
 -->
                <div class="turntable">
                    <div class="line line1"></div>
                    <div class="line line2"></div>
                    <div class="line line3"></div>
                    <div class="line line4"></div>
                    <div class="line line5"></div>
                    <div class="line line6"></div>
                    <div class="line line7"></div>
                    <div class="line line8"></div>
                </div>
            </div>
        </div>
        <div class="desc">
            <p>On my spare time I make some music and I share it under the name of
                <span class="notice">Stereotipo</span>.</p>
            <p>I take old records, sample and mix them with drum breaks, resulting in some jazzy hip hop <a class="nav" href="http://stereotipo.bandcamp.com/" target="_blank">instrumentals</a>.</p>
        </div>
        <div class="divider"></div> 
    </div>
    <div class="part photos awty" data-awty="active" >
        <h2 class="title">#photos</h2>
        <div class="hide-mobile symbol">
            <div class="camera">
                <div class="top">
                    <div class="finder"></div>
                    <div class="logo"></div>
                </div>
                <div class="button"></div>
                <div class="lens">
                    <div class="eye"></div>
                </div>
            </div>
        </div>
        <div class="desc">
            <p>I also like photography, mainly street and documentary.</p>
            <p>Some say I collect a bunch of cameras but in fact I use them, and showcase some of the attempts <a class="nav" href="https://www.flickr.com/photos/acapelo" target="_blank">here</a>.</p>
        </div>
    </div>
</section>
<section data-awty="faded" data-awty-remove="true" data-awty-toggle="true" data-awty-mode="peek" data-awty-space="0.7" class="footer awty faded">
    <p>
      <a href="http://www.antoniocapelo.com" target="_blank">antoniocapelo.com</a>
    </p>
</section>
