/** Main styles go here **/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@font-face {
  font-family: Equal;
  src: url("fonts/Equal-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'viroregular';
  src: url("fonts/viro-webfont.eot");
  src: url("fonts/viro-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/viro-webfont.woff") format("woff"), url("fonts/viro-webfont.ttf") format("truetype"), url("fonts/viro-webfont.svg#viroregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 33, ../../app/styles/app.scss */
* {
  font-family: 'Droid Sans', sans-serif;
  box-sizing: border-box;
}

/* line 40, ../../app/styles/app.scss */
html, body {
  margin: 0;
  height: 100%;
}

/* line 45, ../../app/styles/app.scss */
html {
  font-size: 16px;
}

/* line 50, ../../app/styles/app.scss */
body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: transparent;
}

/* line 57, ../../app/styles/app.scss */
.container {
  margin-top: 5%;
}

/* line 63, ../../app/styles/app.scss */
.hi {
  font-size: 15rem;
  color: ghostwhite;
  opacity: 0.9;
  text-align: center;
  font-weight: 500;
  line-height: 100%;
}
/* line 71, ../../app/styles/app.scss */
.hi.type {
  text-align: left;
  margin: 5%;
}

/* line 77, ../../app/styles/app.scss */
.who-am-i {
  background: rgba(255, 255, 255, 0.4);
  text-align: left;
  color: #3f3f3f;
  padding: 0 5%;
}

/* line 84, ../../app/styles/app.scss */
.title {
  font-size: 8rem;
  margin-bottom: 2%;
  margin-top: 0px;
}

/* line 90, ../../app/styles/app.scss */
.subtitle {
  padding: 30px;
  font-size: 4rem;
}

/* line 95, ../../app/styles/app.scss */
p {
  font-size: 2rem;
}

/* line 99, ../../app/styles/app.scss */
.be-patient {
  color: white;
  opacity: 0.8;
  text-align: center;
  font-size: 2rem;
}

/* line 106, ../../app/styles/app.scss */
.icon-set {
  padding-left: 0;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 50px;
}

/* line 113, ../../app/styles/app.scss */
.icon-element {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px 20px 0 20px;
}

/* line 120, ../../app/styles/app.scss */
.icon {
  width: 100px;
  height: 100px;
  display: block;
  background-size: 100px 100px;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
/* line 126, ../../app/styles/app.scss */
.icon:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* line 131, ../../app/styles/app.scss */
.twitter {
  background-image: url("/../images/icons/twitter.png");
}

/* line 135, ../../app/styles/app.scss */
.instagram {
  background-image: url("/../images/icons/Instagram.png");
}

/* line 139, ../../app/styles/app.scss */
.linkedin {
  background-image: url("/../images/icons/linkedin.png");
}

/* line 143, ../../app/styles/app.scss */
.github {
  background-image: url("/../images/icons/Github.png");
}

/* line 148, ../../app/styles/app.scss */
.part {
  margin: 10px 0 3% 0;
  padding-left: 16px;
  padding-right: 16px;
}

@media only screen and (max-device-width: 480px) {
  /* line 158, ../../app/styles/app.scss */
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 320px) and (max-width: 640px) {
  /* line 166, ../../app/styles/app.scss */
  .hide-mobile {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 720px) {
  /* line 172, ../../app/styles/app.scss */
  .hi {
    font-size: 7rem;
  }

  /* line 175, ../../app/styles/app.scss */
  .title {
    font-size: 3.3rem;
    margin-left: 2%;
    margin-top: 0;
  }

  /* line 180, ../../app/styles/app.scss */
  .subtitle {
    font-size: 2.2rem;
  }

  /* line 183, ../../app/styles/app.scss */
  p {
    font-size: 1.3rem;
  }
}
/** --------------------------------------------------------------------- 

	Index Page

--------------------------------------------------------------------- **/
/* line 197, ../../app/styles/app.scss */
#cover {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
}

/* Centered texts in each section
* --------------------------------------- */
/* line 210, ../../app/styles/app.scss */
.section {
  text-align: center;
  position: relative;
}

/* line 216, ../../app/styles/app.scss */
.profile-pic {
  width: 90%;
  max-width: 500px;
  margin-bottom: 2%;
  display: inline-block;
}

/* line 225, ../../app/styles/app.scss */
.about p {
  float: left;
  margin-top: 0;
}

/* line 232, ../../app/styles/app.scss */
.code p, .beats p, .photos p {
  float: left;
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: normal;
}

/* line 240, ../../app/styles/app.scss */
.symbol {
  text-align: center;
  min-height: 255px;
}

/** CODE **/
/* line 252, ../../app/styles/app.scss */
.monitor-container {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  width: 300px;
  height: 200px;
}
/* line 258, ../../app/styles/app.scss */
.monitor-container .base {
  width: 75px;
  height: 40px;
  background: black;
  position: absolute;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
/* line 269, ../../app/styles/app.scss */
.monitor-container .monitor {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
}
/* line 274, ../../app/styles/app.scss */
.monitor-container .monitor .screen {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 20px solid black;
  border-radius: 7%;
  display: table;
  overflow: hidden;
  position: relative;
}
/* line 285, ../../app/styles/app.scss */
.monitor-container .monitor .text-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 66.66667px;
}
/* line 291, ../../app/styles/app.scss */
.monitor-container .monitor .text-container .text {
  text-align: center;
  display: inline-block;
}
/* line 297, ../../app/styles/app.scss */
.monitor-container .monitor .text-container .left, .monitor-container .monitor .text-container .right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
/* line 309, ../../app/styles/app.scss */
.monitor-container .monitor .text-container .left {
  font-size: 5rem;
  left: 25%;
}
/* line 313, ../../app/styles/app.scss */
.monitor-container .monitor .text-container.off .left {
  left: -28%;
}
/* line 317, ../../app/styles/app.scss */
.monitor-container .monitor .text-container .right {
  font-size: 5rem;
  right: 25%;
}
/* line 321, ../../app/styles/app.scss */
.monitor-container .monitor .text-container.off .right {
  right: -28%;
}

/** MUSIC **/
/* line 340, ../../app/styles/app.scss */
.mpc {
  display: inline-block;
  background: black;
  width: 220px;
  height: 140px;
  border-radius: 2px;
  position: relative;
  margin-bottom: 5%;
}

/* line 351, ../../app/styles/app.scss */
.lcd {
  background: white;
  width: 30%;
  height: 10%;
  position: absolute;
  top: 10%;
  left: 7%;
  border-radius: 2px;
}

/* line 362, ../../app/styles/app.scss */
.pads {
  position: absolute;
  width: 50%;
  height: 50%;
  right: 7%;
  bottom: 7%;
}

/* line 370, ../../app/styles/app.scss */
.pad-row {
  height: 25%;
  width: 100%;
}

/* line 375, ../../app/styles/app.scss */
.pad {
  height: 100%;
  width: 25%;
  background: white;
  float: left;
  border: 1px solid black;
  box-sizing: border-box;
}

/* line 384, ../../app/styles/app.scss */
.turntable {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  background: black;
  border-radius: 50%;
  margin-left: 20px;
  margin-bottom: 5%;
  -webkit-transition: -webkit-transform 8000ms ease-in;
  -moz-transition: -moz-transform 8000ms linear;
  -ms-transition: -ms-transform 8000ms linear;
  -o-transition: -o-transform 8000ms linear;
  transition: transform 8000ms linear;
}
/* line 398, ../../app/styles/app.scss */
.turntable.on {
  -webkit-transform: rotate(1440deg);
  -o-transform: rotate(1440deg);
  transform: rotate(1440deg);
}

/* line 405, ../../app/styles/app.scss */
.line {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px grey;
  border-style: none solid none solid;
  border-radius: 50%;
}

/* line 417, ../../app/styles/app.scss */
.line1 {
  width: 100%;
  height: 100%;
}

/* line 423, ../../app/styles/app.scss */
.line3 {
  width: 85%;
  height: 85%;
}

/* line 429, ../../app/styles/app.scss */
.line2 {
  width: 95%;
  height: 95%;
}

/* line 434, ../../app/styles/app.scss */
.line4 {
  width: 75%;
  height: 75%;
}

/* line 439, ../../app/styles/app.scss */
.line5 {
  width: 65%;
  height: 65%;
}

/* line 444, ../../app/styles/app.scss */
.line6 {
  width: 55%;
  height: 55%;
}

/* line 449, ../../app/styles/app.scss */
.line7 {
  width: 45%;
  height: 45%;
}

/* line 454, ../../app/styles/app.scss */
.line8 {
  border-style: solid;
  background: grey;
  border-width: 2px;
  width: 1%;
  height: 1%;
}

/* line 462, ../../app/styles/app.scss */
.music-symbol-container {
  text-align: center;
  overflow: hidden;
  min-width: 400px;
  display: inline-block;
  margin-top: 40px;
}

/** Photos **/
/* line 473, ../../app/styles/app.scss */
.camera {
  margin-top: 20px;
  display: inline-block;
  width: 280px;
  height: 150px;
  background: black;
  border-radius: 5px;
  position: relative;
  border: 1px solid black;
}

/* line 484, ../../app/styles/app.scss */
.camera .button {
  width: 20px;
  height: 20px;
  background: white;
  position: absolute;
  left: 10px;
  top: -14px;
  border: 3px solid black;
  z-index: -1;
  -webkit-transition: all 0.5s linear 0.5s;
  -moz-transition: all 0.5s linear 0.5s;
  -o-transition: all 0.5s linear 0.5s;
  transition: all 0.5 linear 0.5s;
}

/* line 499, ../../app/styles/app.scss */
.camera.on .button {
  -webkit-transform: translateY(35%);
  -moz-transform: translateY(35%);
  -ms-transform: translateY(35%);
  transform: translateY(35%);
}

/* line 506, ../../app/styles/app.scss */
.camera .lens {
  width: 100px;
  height: 100px;
  background: white;
  position: absolute;
  right: 30px;
  bottom: 20px;
  border-radius: 50%;
  border: 5px solid #1d1f20;
}

/* line 517, ../../app/styles/app.scss */
.camera .lens .eye {
  width: 24px;
  height: 24px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translateY(-50%, -50%);
  border-radius: 50%;
  border: 4px solid #1d1f20;
  -webkit-transition: all 0.5s linear 0.5s;
  -moz-transition: all 05s linear 0.5s;
  -o-transition: all 0.5s linear 0.5s;
  transition: all 0.5s linear 0.5s;
}

/* line 536, ../../app/styles/app.scss */
.camera.on .eye {
  width: 2px;
  height: 2px;
  background: black;
  border: 8px solid #1d1f20;
}

/* line 543, ../../app/styles/app.scss */
.camera .top {
  box-sizing: border-box;
  width: 274px;
  height: 50px;
  background: white;
  position: absolute;
  left: 2px;
  top: 2px;
  background: white;
}

/* line 554, ../../app/styles/app.scss */
.camera .top .finder {
  width: 27px;
  height: 22px;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

/* line 564, ../../app/styles/app.scss */
.camera .top .logo {
  width: 20px;
  height: 19px;
  position: absolute;
  top: 10px;
  left: 50%;
  background: red;
  border-radius: 50%;
}

/** ---------------------------------------------------------------------
--------------------------------------------------------------------- **/
/* line 580, ../../app/styles/app.scss */
.notice {
  font-weight: bold;
}

/* line 584, ../../app/styles/app.scss */
.underline {
  text-decoration: underline;
}

/* line 591, ../../app/styles/app.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 597, ../../app/styles/app.scss */
.pure-u-0 {
  width: 0%;
}
