extends layouts/default

block content
	section(data-ui-view, class="row")
	.col-md-12
	h1.hi Hi there
	p.who-am-i.subtitle I'm <b>António Capelo</b>, a Front-End Developer from Portugal.
	p.be-patient Here's my /temp/ site while I don't finish the <span style="font-weight:bold;color: rgb(255, 250, 134); opacity:1.0;">real one</span>.

	ul.icon-set
		li.icon-element
			a(class="icon twitter",href="https://twitter.com/antoniocapelo", target="_blank")
		li.icon-element
			a(class="icon instagram",href="http://www.instagram.com/acapelo", target="_blank")
		li.icon-element
			a(class="icon linkedin",href="https://www.linkedin.com/in/antoniocapelo", target="_blank")
		li.icon-element
			a(class="icon github",href="https://github.com/antoniocapelo", target="_blank")
